@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to right,#01022d, #000);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container {
    background-image: 
    linear-gradient(to right, #01022db4 30%, #00000070),
    url(téléchargement.webp);
    background-color: red;
    width: 80%;
    height: 640px;
    background-position: center;
}

.container:hover {
    background-image: 
    linear-gradient(to right, #01022db4 30%, transparent),
    url(téléchargement.webp);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
}

ul a {
    border-bottom: 2px solid transparent;
}

ul a:hover {
    border-bottom-color: white;
}

.content {
    color: white;
    width: 50%;
    margin-top: 50px;
    padding: 30px;
}

.content h2 {
    font-size: 100px;
    text-transform: uppercase;
}

.content p {
    width: 400px;
    letter-spacing: 3px;
    padding: 20px 0;
}

.content button {
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
}

.content button:hover {
    background-color: transparent;
    color: white;
    border-color: white;
}